body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(55, 58, 60);
    padding: 20px 0;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-bottom: -10px;
    text-align: center;
}

nav {
    background-color: rgb(55, 58, 60);
    padding: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section{
    background-color: rgb(245, 245, 245);
    padding: 10px;
    margin: 20px;
}

h3 {
    margin-left: 20px;
    padding-bottom: -10px;
}

article {
    font-size: 15px;
    color: rgb(102, 102, 108);
    margin-top: 15px;
}

aside {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    margin: 10px;
    margin-bottom: -10px;
}

nav ul li {
    display: inline;
    margin: 10px;
}

footer {
    background-color: rgb(55, 58, 60);
    padding: 5px 0;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

article dl dt {
    font-size: 13px;
    color: black;
}

aside h3 {
    color: black;
    margin-left: -10px; 
}

aside dl dt {
    font-size: 13px;
    color: black;
    margin-left: -10px;
}

footer dl dt {
    font-size: 12px;
    color: white;
}