* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.negre {
    color: black;
    text-decoration: none;
}

.blanc {
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    background-color: black;
    position: fixed;
    z-index: 1;
    margin-top: 10px;
    top: 0;
}

header h1{
    color: white;
    padding-left: 25px;
    padding-top: 40px;
    text-align: left;
    margin-right: 60px;
}

.poble {
    width: 1540px;
    height: auto;
    margin-left: -10px;
    margin-top: -10px;
    display: block;
}

.bandera {
    width: 90px;
    height: auto;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.bandera:hover{
    width: 92px;
    height: auto;
}

button {
    text-decoration: none;
    background-color: white;
    color: black;
    width: 110px;
    right: 25px;
    cursor: pointer;
    border: 3px solid black;
    align-content: center;
    height: 35px;
    position: fixed;
    font-size: 20px;
    bottom: 10px;
}

button a {
    text-decoration: none;
}

button:hover{
    background-color: #42B881;
    font-weight: bold;
}

#header {
    margin: auto;
    width: 737px;
}

ul, ol {
    list-style: none;
}

.menus li a {
    display: flex;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    display: block;
}

.menus li a:hover{
    background-color: #42B881;
    font-weight: bold;
}

.menus > li {
    float: left;
}

.menus li ul {
    display:none ;
    position: absolute;
    min-width: 140px;
}

.menus li:hover > ul {
    display: block;
}

.text {
    position: relative;
    text-align: center;
    color: black;
}

.guia {
    position: absolute;
    top: 20%;
    left: 14%;
    font-size: 50px;
    font-weight: bold;
    border: 3px solid white;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(214, 238, 238, 0.682);
}

.mes_informacio {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 50px;
    font-weight: bold;
    border: 3px solid white;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgba(214, 238, 238, 0.521);
}

.contactes{
    font-size: 20px;
}

.ajuda {
    position: absolute;
    top: 29%;
    left: 30%;
    font-size: 25px;
}

article h1{
    font-size: 30px;
}

.contacte{
    position: absolute;
    top: 37%;
    left: 42%;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 200px;
    right: 25px;
    cursor: pointer;
    border: 3px solid black;
    align-content: center;
    height: 35px;
    font-size: 20px;
    bottom: 10px;
}

.contacte:hover {
    left: 42%;
    background-color: #42B881;
    font-weight: bold;
    width: 205px;
    font-size: 21px;
}

.boto{
    position: absolute;
    top: 182%;
    left: 43%;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 120px;
    right: 25px;
    cursor: pointer;
    border: 3px solid black;
    align-content: center;
    height: 35px;
    font-size: 20px;
    bottom: 10px;
}

.llista_blanca{
    color: white;
}

footer {
    background-color: black;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-left: -8px;
    width: 100%;
}

.footer {
    font-size: 12px;
    color: white;
}

@media all and (max-width: 900px){
    #header {
        display: contents;
    }
    .menus{
        padding-left: 50px;
    }
    .footer{
        padding-left: 35px;
    }
}

@media all and (max-width: 1528px){
    .guia{
        top: 25%;
        left: 28%;
    }
    .ajuda{
        top: 34%;
        left: 31%;
    }
}

@media all and (max-width: 1100px){
    .footer{
        padding-left: 350px;
    }
    .guia{
        top: 30%;
        left: 20%;
    }
    .ajuda{
        top: 41%;
        left: 25%;
    }
}

@media all and (max-width: 950px){
    .guia{
        top: 36%;
        left: 6%;
    }
    .ajuda{
        top: 47%;
        left: 10%;
    }
}

@media all and (max-width: 800px){
    .guia{
        top: 40%;
        left: 2%;
    }
    .ajuda{
        top: 60%;
        left: 5%;
    } 
}

@media all and (max-width: 650px){
    .guia{
        top: 40%;
        padding-bottom: 180px;
        left: 2%;
    }
    .ajuda{
        top: 60%;
        left: 2%;
    }
}

@media all and (max-width: 540px){
    header h1 {
        margin-top: -40px;
    }
    
}

@media all and (max-width: 750px){
    .footer{
        padding-left: 150px;
    }
}

@media all and (max-width: 550px){
    .footer{
        padding-left: 30px;
    }
}

@media all and (max-width: 1150px){
    .rutes{
        margin-left: 200px;
    }
    .imatges1{
        margin-left: -300px;
    }
    .video{
        margin-left: 200px;
    }
    .satelit{
        margin-left: 200px;
    }
}

@media all and (max-width: 850px){
    .rutes{
        margin-left: 100px;
    }
    .imatges1{
        margin-left: -400px;
    }
    .video{
        margin-left: 100px;
    }
    .satelit{
        margin-left: 100px;
    }
}

@media all and (max-width: 750px){
    .rutes{
        margin-left: 30px;
    }
    .imatges1{
        margin-left: -470px;
    }
    .video{
        margin-left: 30px;
    }
    .satelit{
        margin-left: 30px;
    }
}

@media all and (max-width: 630px){
    .rutes{
        margin-left: 2px;
        width: 300px;
        height: 200px;
    }
    .imatges1{
        margin-left: -498px;
        width: 300px;
        height: 200px;
    }
    .video{
        margin-left: 2px;
        width: 300px;
        height: 200px;
    }
    .satelit{
        margin-left: 2px;
        width: 300px;
        height: auto;
    }
}

@media all and (max-width: 739px){
    .turisme{
        margin-top: 315px;
    }
    .historia{
        margin-top: 315px;
    }
}

@media all and (max-width: 540px){
    .turisme{
        margin-top: 380px;
    }
    .historia{
        margin-top: 380px;
    }
}

@media all and (max-width: 511px){
    .turisme{
        margin-top: 440px;
    }
    .historia{
        margin-top: 440px;
    }
}

@media all and (max-width: 1150px){
    .imatges1{
        margin-left: -300px;
    }
    .imatges_turisme{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media all and (max-width: 850px){
    .imatges1{
        margin-left: -400px;
    }
    .imatges_turisme{
        display: block;
    } 
}